# Mortillo_Michael_HW2

#### Add your name and the date your notebook was last updated

In [9]:
%reload_ext watermark
%watermark -a "Mike Mortillo" -d -u -n -t -z

Mike Mortillo
last updated: 2020-02-06 14:29:18 EST

#### Load libraries

In [10]:
import pandas as pd
import numpy as np
from sinfo import sinfo 
from sklearn.decomposition import PCA
from sklearn import preprocessing
from sklearn.preprocessing import StandardScaler
import seaborn as sns

#### Load data
note: include your test for this chunk from previous homework

In [19]:
countdata = "https://raw.githubusercontent.com/jessmrandall/IBS574Spring2020/master/data/countdata.csv"
counts = pd.read_csv(countdata, index_col = 0, sep = "\t")
len(counts) == 14944

True

#### Transpose Counts

In [20]:
counts_transpose = counts.T
len(counts_transpose) == 14

True

#### Add a column of target values to the transposed data frame

In [24]:
group = ["Control", "Control", "Control", "Control", "Control", "Control", "Control",
         "Case", "Case", "Case", "Case", "Case", "Case", "Case",]
counts_transpose["group"] = group
counts_transpose

id,Aaas,Aacs,Aadac,Aadacl2,Aadacl3,Aadat,Aaed1,Aagab,Aak1,Aamdc,...,Zfyve27,Zfyve28,Zfyve9,Zxdc,Zyg11a,Zyg11b,Zyx,Zzef1,Zzz3,group
T02,4341,11693,0,0,0,0,1173,2618,4239,165,...,3396,6,1937,1211,8,4133,12810,4269,8717,Control
T04,4052,10913,0,0,0,0,1095,2443,3956,154,...,3170,6,1807,1130,7,3857,11956,3984,8135,Control
T06,3762,10134,0,0,0,0,1017,2269,3674,143,...,2943,5,1678,1049,7,3582,11102,3700,7554,Control
T08,3473,9354,0,0,0,0,938,2094,3391,132,...,2717,5,1549,968,6,3306,10248,3415,6973,Control
T10,2894,7795,0,0,0,0,782,1745,2826,110,...,2264,4,1291,807,5,2755,8540,2846,5811,Control
T12,3193,6784,0,0,0,0,773,1791,2884,117,...,2789,0,1351,997,5,2381,9206,2598,5332,Control
T14,3706,8448,0,0,0,0,1113,1734,2345,155,...,3336,0,1426,1418,3,2311,10722,2164,6638,Control
T01,2574,6011,0,0,0,0,1547,1329,3508,160,...,1638,1,1159,1007,15,2509,16827,2014,5829,Case
T03,2760,4736,0,0,0,0,1848,1272,4299,176,...,1956,1,1538,1334,12,2660,18652,2224,6680,Case
T05,2512,5480,2,0,0,0,1477,1245,4060,140,...,1588,2,1100,1106,9,2555,20013,2310,6235,Case
T07,3014,6576,2,0,0,0,1772,1494,4872,168,...,1906,2,1320,1327,11,3066,24016,2772,7482,Case
T09,3266,7124,3,0,0,0,1920,1619,5278,182,...,2064,3,1430,1438,12,3322,26017,3003,8106,Case
T11,3517,7672,3,0,0,0,2068,1743,5684,196,...,2223,3,1540,1548,13,3577,28018,3234,8729,Case
T13,3768,8220,3,0,0,0,2216,1868,6090,210,...,2382,3,1650,1659,14,3833,30020,3465,9353,Case

#### Perform scaling

In [37]:
features = pd.Series(counts_transpose.columns)[0:14944]
features
feature_arr = counts_transpose.loc[:, features].values
feature_arr
target_arr = counts_transpose.loc[:, ['group']].values
target_arr
fitted_features = StandardScaler().fit_transform(feature_arr)
fitted_features

array([[ 1.86451581,  1.91780686, -0.72558924, ..., -0.5823493 ,
         1.86280692,  1.22298748],
       [ 1.3234291 ,  1.52088387, -0.72558924, ..., -0.70074623,
         1.44449312,  0.73603957],
       [ 0.78047011,  1.12446975, -0.72558924, ..., -0.81914316,
         1.02764708,  0.24992835],
       ...,
       [-0.14817698, -0.4072459 ,  1.61862216, ...,  1.24864397,
         0.00461298,  0.71177585],
       [ 0.32176338, -0.12838205,  1.61862216, ...,  1.52605879,
         0.34366733,  1.23302765],
       [ 0.79170375,  0.15048179,  1.61862216, ...,  1.80361224,
         0.68272167,  1.75511613]])

#### Determine Principal Components & Combine with Target

In [40]:
pca = PCA(n_components = 2)
principalComponents = pca.fit_transform(fitted_features)
principalDataframe = pd.DataFrame(data = principalComponents, columns = ["PC1", "PC2"])
principalDataframe.index = counts_transpose.index
targetDataframe = counts_transpose[['group']]
newDataframe = pd.concat([principalDataframe, targetDataframe], axis = 1)
newDataframe

            PC1         PC2    group
T02  126.578151   22.172512  Control
T04   99.182056    1.424350  Control
T06   75.563747  -19.338757  Control
T08   50.782996  -40.197730  Control
T10    2.998503  -81.795995  Control
T12  -14.584119  -78.680747  Control
T14   -2.030800  -62.421594  Control
T01  -77.569590  -40.686478     Case
T03  -77.841672  -19.285563     Case
T05  -81.150428  -13.488447     Case
T07  -48.845662   40.170020     Case
T09  -33.225792   68.643512     Case
T11  -16.961228   94.978406     Case
T13   -2.896162  128.506511     Case

Test that principal components were computed correctly

In [48]:
principalDataframe["PC1"].max() 
principalDataframe["PC1"].max() == 126.57815113747407

True

#### Report Session Information

In [49]:
sinfo()

-----
numpy       1.18.1
pandas      1.0.0
seaborn     0.10.0
sinfo       0.3.1
sklearn     0.22.1
-----
IPython             7.11.1
jupyter_client      5.3.4
jupyter_core        4.6.1
jupyterlab          1.1.4
notebook            6.0.3
-----
Python 3.8.1 (default, Jan  8 2020, 16:15:59) [Clang 4.0.1 (tags/RELEASE_401/final)]
macOS-10.15.2-x86_64-i386-64bit
4 logical CPU cores, i386
-----
Session information updated at 2020-02-06 15:37